@media (max-width: 600px) {
    main {
        margin: 2rem auto 4rem auto;
        width: 90%;
    }

    #logo {
        width: 12rem;
    }

    .box-content {
        padding: 1.5rem;
    }

    form input,
    form select {
        width: 100%;
        flex: 1 1 100%; 
    }

    .box-content h2 {
        font-size: 1.5rem;
    }

    .box-content p {
        font-size: 0.9rem;
    }
}