@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    background-image: url(./assets/background-galaxy.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    background-color: #121214;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &::selection {
        background-color: #4A357D;
    }
}

header {
    padding-top: 32px;
}

#logo {
    width: 15rem;
    border-radius: 5px;
    user-select: none;
}

main {
    max-width: 36rem;
    width: 90%;
    margin: 3rem 2rem 4rem 5rem;
}

#content {
    background-image: linear-gradient(90deg, #9472fce8 0%, #43E7AD 50%, #E2D45C 100%);
    border-radius: 0.625rem;
    padding-top: 4px;
}

.box-content {
    background-color: #2A2634;
    padding: 2rem;
    padding-top: 1.5rem;
    border-radius: 0.5rem;
}

.box-content h2 {
    letter-spacing: -0.47px;
}

.box-content p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

main section {
    opacity: 0;
    transform: translateY(2rem);

    animation-name: appear;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.85rem;
    margin: 1.25rem 0;
}

input, select {
    all: unset;
    border: 2px solid #9147ff;
    border-radius: 0.5rem;
    padding: 0.675rem;
    font-size: 0.875rem;
    background-color: #00000066;
}

input {
    flex: 1;
}

button {
    width: 100%;
    padding: 0.675rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.12px;
    background-image: linear-gradient(245deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);

    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        transition: none;
        transform: initial;
        cursor: not-allowed;
        color: #000;
    }
}

.loading {
    animation: pulse 1s infinite;
}

.hidden {
    display: none;
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

#aiResponse {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    padding: 1.25rem;
    border-left: 4px solid #43E7AD;
}

#aiResponse ul {
    padding-left: 1.5rem;
    opacity: 0.8;
}

#aiResponse p {
    color: #fff;
}